    <settings>
      .
      .
      <servers>
        <server>
          <id>github</id>
          <username>repouser</username>
          <!-- other optional elements:
            <password>my_login_password</password>
            <privateKey>/path/to/identity</privateKey> (default is ~/.ssh/id_dsa)
            <passphrase>my_key_passphrase</passphrase>
          -->
        </server>
      </servers>
      .
      .
    </settings>
